**snakemake**
.snakemake
.snakemake/**
slurm-*.out
**RData**
**Rproj**
**ipynb**
**Rhistory**
.DS_store
results/
resources/
refs/
*.log
profiles/**

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# file from snakemake/source files
refs/**
resources/**
results/**
logs/**
.snakemake
.snakemake/**
profiles/**
**/wcm_slurm/**
**log**
**runs**
**samples**
**fastqc**
**multiqc**



.Rproj.user
